---
import Layout from "../../../layouts/Layout.astro";
import GoalDetailsPage from "../../../components/goals/GoalDetailsPage";

const { goalId } = Astro.params;
---

<Layout title="Goal Details">
  <main aria-label="Goal Details">
    <GoalDetailsPage client:load goalId={goalId} />
  </main>
</Layout>
