---
import Layout from "../../../layouts/Layout.astro";
import GoalsListPage from "../../../components/goals/GoalsListPage";
import GoalDetailsModalPage from "../../../components/goals/GoalDetailsModalPage";

const { goalId } = Astro.params;
---

<Layout title="Szczegóły celu">
  <main aria-label="Lista celów ze szczegółami celu">
    <GoalsListPage client:load />
    <GoalDetailsModalPage client:load goalId={goalId} />
  </main>
</Layout>
