---
import Layout from "../../../layouts/Layout.astro";
import GoalsListPage from "../../../components/goals/GoalsListPage";
---

<Layout title="Goals List">
  <main aria-label="Goals List">
    <GoalsListPage client:load />
  </main>
</Layout>
