---
import Layout from "../../../layouts/Layout.astro";
import GoalsListPage from "../../../components/goals/GoalsListPage";
import GoalCreateModalPage from "../../../components/goals/GoalCreateModalPage";
---

<Layout title="Utwórz cel">
  <main aria-label="Lista celów z formularzem utworzenia">
    <GoalsListPage client:load />
    <GoalCreateModalPage client:load />
  </main>
</Layout>
