---
import Layout from "@/layouts/Layout.astro";
import LoginPage from "@/components/auth/LoginPage";
---

<Layout title="Logowanie">
  <main aria-label="Logowanie">
    <LoginPage client:load />
  </main>
</Layout>
